@{
    var currentUrl = Context.Request.Path.Value!.ToLower();

    string GetActiveClass(string url)
    {
        return currentUrl.Contains(url.ToLower()) ? "active" : "";
    }
}

<ul class="nav nav-pills flex-column flex-md-row mb-3 gap-2 gap-lg-0">
    <li class="nav-item">
        <a class="nav-link @GetActiveClass(Url.Action("ProfilePage","Account")!)" href="@Url.Action("ProfilePage","Account")">
            <i class="mdi mdi-account-outline mdi-20px me-1"></i>حساب
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @GetActiveClass(Url.Action("ResetPass","Account")!)" href="@Url.Action("ResetPass","Account")">
            <i class="mdi mdi-lock-open-outline mdi-20px me-1"></i> امنیت
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @GetActiveClass(Url.Action("Deposit","Wallet")!)" href="@Url.Action("Deposit","Wallet")">
            <i class="mdi mdi-wallet-outline mdi-20px me-1"></i> شارژ کیف پول
        </a>
    </li>
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link @GetActiveClass(Url.Action("Dashboard","AdminTicket")!)" href="@Url.Action("Dashboard","AdminTicket")">
                <i class="mdi mdi-ticket-percent mdi-20px me-1"></i> پشتیبانی کاربران
            </a>
        </li> 
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link @GetActiveClass(Url.Action("Dashboard","TicketUser")!)" href="@Url.Action("Dashboard","TicketUser")">
                <i class="mdi mdi-ticket-percent mdi-20px me-1"></i> پشتیبانی 
            </a>
        </li>
       
       
    }
    <li class="nav-item">
        <a class="nav-link @GetActiveClass(Url.Action("Index","Token")!)" href="@Url.Action("Index","Token")">
            <i class="mdi mdi-link mdi-20px me-1"></i>اتصالات
        </a>
    </li>
</ul>